<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Guide</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/restaurant-details-styles.css"/>
    <link rel="icon" type="image/png" href="images/icon.svg">
</head>
<body>
    <header></header>
    <nav></nav>
    
    <main>
        <div class="restaurant-details-card">
            <img src="<%= restaurant.photo %>" alt="Image of <%= restaurant.name %>">
            <h3><%= restaurant.name %></h3>
            <p><strong>Address:</strong> <%= restaurant.address %></p>
            <p><strong>Phone:</strong> <%= restaurant.phone %></p>
        </div>
    </main>

    <footer></footer>
    <script src="/scripts/header.js"></script>
</body>
</html>
